:root {
    --green: hsl(75, 94%, 57%);
    --white:  hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --offBlack: hsl(0, 0%, 8%);
}



body {

    background-color: var(--offBlack);
    color: var(--white);
    text-align: center;
    font-family: Inter;

.container {

    background-color: var(--darkGrey);
    margin: 10px 700px 10px 753px;
    margin-top: 64px;
    padding: 25px 0;
    border-radius: 12px;
    margin-right: 700px;
    margin-left: 700px;
}

/*
@media ( min-width: 768px ){
    .container {
        margin: 10px 700px 10px 753px;
        margin-top: 64px;
        margin-right: 700px;
        margin-left: 700px;

    }
}

@media ( min-width:480px ){
    .container {
        margin-right: 100px;
        margin-left: 100px;
    }

} 

*/


img {

    border-radius: 85px;
}

header h1{

    font-family: Inter;
    font-weight: 700;
}

header span {

    font-family: Inter;
    font-weight: 700;
    font-size: 15px;
    color: var(--green);
}
    

}

 a {
    text-decoration: none;
    font-size: 14px;
    color: var(--white);
}

ul {

    list-style-type:none;
    margin-right: 40px;
}


ul li {
    
    padding-block: 25px;
    background-color: grey;
    border-radius: 7px;
    align-content: center;
    font-weight: 700;
    font-size: 20px;
}

.uno, .dos, .tres, .cuatro {

    margin-bottom: 10px;
}


li:hover {

    background-color: var(--green);
   
    
}

a:hover {

    color: var(--grey);
}






