:root {
    --green: hsl(75, 94%, 57%);
    --white:  hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkGrey: hsl(0, 0%, 12%);
    --offBlack: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    max-width: 100%;
}



body {
    background-color: var(--offBlack);
    color: var(--white);
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
    font-family: Inter;
}


.container {
    background-color: var(--darkGrey);
    height: 694px;
    width: 439px;
    padding:20px 15px 73px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

img {
    border-radius: 85px;
}

h3 {
    color: var(--green);
    margin-top: 2px;
   margin-bottom: 27px;
}

p {
    margin-bottom: 26px;
}


button {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: 52px;
  width: 360px;
  background-color: var(--grey);
  color:var(--white);
  font-family: Inter;
  font-weight: 700;
  font-size: 17px;
  border: none;
  text-decoration-line: none;
  padding-top: 15px;
  border-radius: 7px;
}

button:hover {
    background-color: var(--green);
    text-decoration-line: none;
    color: var(--darkGrey);
}

a {
    text-decoration: none;
}






